@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form method="post" enctype="multipart/form-data">
        <input type="file" id="txtFile" accept=".txt">
        <input type="button" class="btn btn-primary" id="button_upload" value="Upload File">
    </form>
    <div>
        <canvas id="barChar"></canvas>
    </div>
</div>

@section PageScripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        $(document).on('click', '#button_upload', function () {
            if (window.FormData !== undefined) {
                var formData = new FormData();
                var totalFiles = document.getElementById("txtFile").files.length;

                for (var i = 0; i < totalFiles; i++) 
                    var file = document.getElementById("txtFile").files[i];

                    formData.append("FileUpload", file);
                $.ajax({
                    url: '/Home/readTxtFile',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    dataType:'json',
                    data: formData,
                    success: function (result) {
                        if (result != null){
                            $('#alert_error').hide();
                            if(result.labels){
                                barChart.data.labels = result.labels;
                            }
                            if (result.data) {
                                barChart.data.datasets[0].data = result.data;
                            }
                            if(result.colors){
                                barChart.data.datasets[0].backgroundColor = result.colors;
                            }
                            barChart.update();
                            setInterval(randomizeData, 5000);
                        }
                        else{
                            $('#alert_error span').text("Something went wrong. Please try again");
                            $('#alert_error').show();
                        }
                    },
                    error: function (err) {
                        if (err.responseJSON.message)
                        $('#alert_error span').text(err.responseJSON.message);
                        $('#alert_error').show();   
                    },
                    complete:function(){
                        $('#txtFile').val("");
                    }
                });
            } else {
                $('#alert_error span').text("FormData is not supported in the browser.");
                $('#alert_error').show();
            }
        });

        function randomizeData(){
            for(i = 0; i < barChart.data.datasets[0].data.length; i++){
                barChart.data.datasets[0].data[i] = parseInt(Math.random() * 100);
            }
            barChart.update();
        }

        const ctx = document.getElementById('barChar');

        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    data: [],
                    borderWidth: 1,
                    backgroundColor: [],
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}